<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <div fxFlex *ngIf="dish">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  
  </div>
  
  
  <div fxFlex *ngIf="dish">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>Comments</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngFor=" let comment of dish.comments">
      <p>{{comment.comment}}</p>
      <p>{{comment.rating}} stars</p>
      <p>{{comment.author}}</p>
      <p>{{comment.date | date}} </p>
      <br>
    </mat-card-content>
   </mat-card>
  </div>
   
</div>
